
<ion-header>

    <ion-navbar color="primary">
          <ion-title>{{ 'TITLE' | translate }}</ion-title>
    </ion-navbar>
    
    </ion-header>


<ion-content padding>
    <iframe style="margin-top:15%" src="http://www.franquiciasvigitrackavl.com" width="100%" height="100%" frameborder=0 allowfullscreen></iframe>
 </ion-content>
