<ion-tabs>
  <ion-tab [root]="tab1Root" tabTitle="{{ 'HOME' | translate }}" tabIcon="home"></ion-tab>
  <ion-tab [root]="tab2Root" tabTitle="Web" tabIcon="globe"></ion-tab>
  <ion-tab [root]="tab3Root" tabTitle="{{ 'TRACKING' | translate }}" tabIcon="pin"></ion-tab>
</ion-tabs>
