
<ion-header>

  <ion-toolbar color="primary">
    
    <ion-buttons left>
      <button ion-button (click)="dismiss()">
        <ion-icon ios="ios-arrow-back" md="md-arrow-back"></ion-icon>
      </button>
    </ion-buttons>

    <ion-title>Vigitrack AVL</ion-title>

    <ion-buttons end>
     <button ion-button (click)="presentAlert()" >
        <ion-icon ios="ios-information-circle" md="md-information-circle"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>

</ion-header>


<ion-content>
  <ion-item class="redes-content">
    <h5 align="center"> {{ 'FOLLOW' | translate }} </h5>
    <ion-buttons class="redes" align="center">
      <a class="social" href="http://m.facebook.com/vigitrackavl" target="_blank">
        <img width="50px" src="assets/icon/web-facebook-icon.png"  alt="Facebook" > </a>
      <a class="social" href="https://www.instagram.com/vigitrack/" target="_blank">
        <img width="50px" src="assets/icon/Instagram-icon.png"  alt="Instagram" >
      </a>
      <a class="social" href="https://twitter.com/Vigitrack" target="_blank" >
        <img width="50px" src="assets/icon/twitter_icon.png" alt="twitter">
      </a>
    </ion-buttons>
  </ion-item>  
    <form #formulario="ngForm" (ngSubmit)="sendEmail(formulario)" >
  
       <ion-item ><h4 align="center">{{'CONTACTUS'| translate}}</h4></ion-item>

    <ion-item>
      <ion-input type="text" [placeholder]="'NAME'| translate" required name="nombre" [(ngModel)]="contact.nombre" ></ion-input>
    </ion-item>

    <ion-item>
     <ion-input type="email" [placeholder]="'EMAIL' | translate" required name="correo" [(ngModel)]="contact.correo"  ></ion-input>
    </ion-item>

    <ion-item>
      <ion-input type="tel" [placeholder]="'PHONENUMBER' | translate" required name="telefono"  [(ngModel)]="contact.telefono"></ion-input>
    </ion-item>

    <ion-item>
      <ion-textarea type="textarea" [placeholder]="'MESSAGE' | translate" required  name="mensaje" [(ngModel)]="contact.mensaje"></ion-textarea>
    </ion-item>
    <ion-item>
      <button ion-button block large type="submit" [disabled]="!formulario.valid" >{{ 'SEND' | translate }}</button>
    </ion-item>

    </form>
   
</ion-content>