page-modal-contact {

    .scroll-content {
        background: rgb(89, 133, 168);
    }

    ion-item.redes-content {
        margin: 15% 0px 7px 0px;
    }
    .item-ios {
        color: white;
    background-color: rgba(0, 0, 0, 0.703)
    }

    .item-md {
        color: white;
    background-color: rgba(0, 0, 0, 0.703)
    }
    .social {
        margin: 10px;
        position: relative;
      
    }

    .redes{
        margin-top: 20px;
    }
   
    
    ion-item-divider.item.item-divider.item-ios.item-divider-ios {
    background-color: transparent;
    }

    ion-item-divider.item.item-divider.item-md.item-divider-md {
        background-color: transparent;
    }


    
}
