page-modal-contact-sos {
    ion-input{
        margin-top: 7%;
    }
    form.ng-untouched.ng-pristine.ng-invalid {
        padding-top: 2%;
    }

    .item-md {
        padding-left: 12px;
        padding-right: 12px;
        position: relative;
        font-size: 1.6rem;
        font-weight: normal;
        text-transform: none;
        color: #000;
        background-color: transparent;
        -webkit-box-shadow: none;
        box-shadow: none;
        -webkit-transition: background-color 300ms cubic-bezier(0.4, 0, 0.2, 1);
        transition: background-color 300ms cubic-bezier(0.4, 0, 0.2, 1);
    }


    .item-ios {
   
        background-color: #fff;
     
    }
}
