<ion-header>

  <ion-toolbar color="primary">
    
    <ion-buttons left>
      <button ion-button (click)="dismiss()">
        <ion-icon ios="ios-arrow-back" md="md-arrow-back"></ion-icon>
      </button>
    </ion-buttons>

    <ion-title>Vigitrack AVL</ion-title>

 
  </ion-toolbar>

</ion-header>


<ion-content>
  
    <form #formulario="ngForm" (ngSubmit)="registrarContact(formulario)" >
  
       <ion-item style="border:none" [innerHtml]="'INFO'| translate " >


         <!--<p style="color:grey; font-size:0.6em" align="center">Registra tus contáctos de confianza. </p>
         <p style="color:grey; font-size:0.6em" align="center">En caso de emergencia puedes enviar un mensaje</p>
         <p style="color:grey; font-size:0.6em" align="center">con tu ubicación geográfica.</p>-->
      </ion-item>

    <ion-item >
      <ion-input type="text" [placeholder]="'YOURNAME' | translate"  required name="nombre" [ngModel]="fcontacto ? fcontacto.nombre : '' "  ></ion-input>
    </ion-item>

    <ion-item>
     <ion-input type="tel" value="" parttern="[0-9]{12-20}"  [placeholder]="'YOURPHONE' | translate" required name="telefono"  [ngModel]="fcontacto ? fcontacto.telefono : '' " ></ion-input>
    </ion-item>

    <ion-item>
      <ion-input type="tel" value="" parttern="[0-9]{12-20}" [placeholder]="'YOURCONTACT1' | translate" required name="contacto1" [ngModel]="fcontacto ? fcontacto.contacto1 : ''"  ></ion-input>
    </ion-item>

    <ion-item>
      <ion-input type="tel" value="" parttern="[0-9]{12-20}" [placeholder]="'YOURCONTACT2' | translate "  name="contacto2" [ngModel]="fcontacto ? fcontacto.contacto2 : '' "  ></ion-input>
    </ion-item>

    <ion-item>
      <ion-input type="tel" value="" parttern="[0-9]{12-20}"  [placeholder]="'YOURCONTACT3' | translate"  name="contacto3" [ngModel]="fcontacto ? fcontacto.contacto3 : '' "  ></ion-input>
    </ion-item>
    <ion-item>
      <ion-textarea type="textarea" [placeholder]="'SMSSOS'| translate" name="mensaje" [ngModel]="fcontacto ? fcontacto.mensaje : '' "></ion-textarea>
    </ion-item>
    <ion-item> 
      <button ion-button block large type="submit" [disabled]="!formulario.valid" >{{'SAVE' | translate}}</button>
    </ion-item>

    </form>
  </ion-content>