
<ion-header>

  <ion-navbar color="primary">
        <ion-title>{{ 'TITLE' | translate }}</ion-title>
  </ion-navbar>
  
  </ion-header>


<ion-content>
  <iframe src="http://server.gpsmundi.com/v3/m/" width="100%" height="100%" frameborder=0 allowfullscreen></iframe>
</ion-content>
