
<custom-header></custom-header>


<ion-content id="content-home" color="primary">
   
          <img *ngIf="langCurrent==='es'" width="100%" style="margin-top: 15%" height="" class="logo-home" src="assets/imgs/banner_espanol01.jpg" alt="contact">
          <img *ngIf="langCurrent==='en'" width="100%" style="margin-top: 18%" height="" class="logo-home" src="assets/imgs/banner_english01.jpg" alt="contact">
          <img *ngIf="langCurrent==='pt'" width="100%" style="margin-top: 20%" height="" class="logo-home" src="assets/imgs/banner_portugues01.jpg" alt="contact">
         <button class="sos-button" ion-button clear icon-only block (click)="sos()">
             <img class="sos" src="assets/imgs/maiboton.fw.png" alt="sos"> 
         </button> 
 </ion-content>
