page-home {

    .scroll-content {
        background: rgb(89, 133, 168);
    }

   button.sos-button {
        height: 100px;
        margin-top: -8%;
        margin-left: 11%;
        margin-right: 10%;
        padding: 0;
    
    }
    .sos{
        height: 99px;
    }
}
