page-home {

   

    .scroll-content {
        background: rgb(89, 133, 168);
    }

   button.sos-button {
        height: 100px;
        margin-top: 5%;
        margin-left: 0%;
        margin-right: 0%;
        padding: 0;
    
    }
    .sos{
        height: 99px;
    }

   
}
