page-pop-contac {
    button.btn-pop.disable-hover.button.button-ios.button-clear.button-clear-ios {
        height: 2.1em;
        margin: 0.6rem 0.2rem;
    }

    button.btn-pop.disable-hover.button.button-md.button-clear.button-clear-md {
        height: 1.9em;
        margin: 0.6rem 0.2rem;
    }

    ion-icon.icon {
        margin: 5px;
    }
}
