
<ion-list>
<button ion-button clear class="btn-pop" *ngFor="let p of pages" (click)="presentModal(p.component,p.param)" >
        <ion-icon [name]="p.icon" item-start></ion-icon> 
        {{p.title}}
</button>
<ion-select (ionChange)= "languageSelect($event)" >
    <ion-option value="es">Español</ion-option>
    <ion-option value="en">Inglés</ion-option>
    <ion-option value="pt">Portugués</ion-option>
</ion-select>
</ion-list>
