<ion-menu [content]="mycontent" side="right">
<ion-content >

<ion-list>
        <ion-item >
                <button ion-button clear class="btn-pop"  (click)="presentModal(1)" >
                    <ion-icon name="mail" item-start></ion-icon> 
                    {{"CONTACTUS" | translate}}
            </button>
            </ion-item>
            <ion-item >
                <button ion-button clear class="btn-pop"  (click)="presentModal(2)" >
                    <ion-icon name="create" item-start></ion-icon> 
                    {{"NUMBERMESSAGE" | translate}}
            </button>
            </ion-item>
    <ion-item>
            <ion-label >{{"LANGUAGE" | translate}}</ion-label>
            <ion-select id="select-language" [multiple]="false" >
            <ion-option *ngFor="let l of language"  (ionSelect)="languageSelect(l.lang)" >{{ l.name }}</ion-option>
        </ion-select>
    </ion-item>
</ion-list>

</ion-content>
</ion-menu>

<ion-header>

<ion-navbar color="primary">
      <ion-title>{{ 'TITLE' | translate }}</ion-title>
      <ion-buttons end>
          <button ion-button icon-only clear style="color: rgb(192, 188, 188)" (click)="toggleMenu()"><ion-icon ios="ios-more" md="md-more"></ion-icon> </button>
      </ion-buttons>
</ion-navbar>

</ion-header>

<ion-content  #mycontent ></ion-content>