// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
.popover-content{
    width: 203px !important;
    height: 92px;
}

.popover-ios .popover-content {
   
    max-height: 102px !important;
    max-width: 210px !important;

}

.logo-cont{
    position:inherit;
    left: 23%;
}

.alert-md .alert-message, .alert-md .alert-input-group {
    padding: 0 3px 0px;
}
.alert-md .alert-head {
    padding: 5px 25px 0px;
}