page-modal-sos {
    ion-fab {
        position: absolute;
        top: 20%;
        margin: 10%;
        height: 45%;
        width: 77%;
        z-index: 999;
    }

    button.button-panic {
        width: 250px;
        height: 250px;
        margin: 10%;
    }
    .fab-ios {
        color: #fff;
        background-color:transparent;
    }
    .fab-md {
        color: #fff;
        background-color:transparent;
    }

    .text_info {
        position: relative;
        top: 18%;
        width: 350px;
        color: grey;
    }
}

